node_modules
# Android build artifacts
*.so
*.dex
*.apk


# Node modules
node_modules/

# React Native Packager files
*.log
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS files
.DS_Store

# Android/IntelliJ
android/.gradle/
android/app/build/
android/build/
*.keystore
*.jks
*.iml
*.hprof
*.orig

# Gradle cache
.gradle
build/

# Local configuration files
.env
.env.* 
*.env.*
.env.local
.env.production
.env.development

# iOS
ios/Pods/
ios/build/
ios/DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcuserstate
*.xcodeproj/project.xcworkspace/
ios/*.xcworkspace/
ios/*.xcodeproj/xcuserdata/

# Watchman
.watchmanconfig

# Metro cache
.expo/
.expo-shared/
.expo-source-maps/
metro-cache/
tmp/
temp/

# ESLint
.eslintcache

# Prettier
.prettiercache

# Babel
babel.config.js

# TypeScript
tsconfig.json
tsconfig.build.json

# Fastlane (if used)
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

# Coverage reports
coverage/
*.lcov

# IDEs
.vscode/
.idea/

# Firebase (optional)
google-services.json
GoogleService-Info.plist

# Sentry (optional)
.sentryclirc

# Misc
*.swp
*.swo
*.orig
